html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body {
    margin: 0;
    padding: 0;
    font-family:'Press Start 2P', cursive;
    
  }

  #canvas{
      width: 500px;
      height: 500px;
      border: 1px solid black;
  }

  .startBtn{
    text-transform: uppercase;
    font-weight: bold;
    width: 120px;
    line-height: 52px;
    color: #fff;
    background-color: gray;
    border-radius: 20px;
  }

  button{
    font-family:'Press Start 2P', cursive;
  }
  .startBtn{
    background: url('https://confnu-production.s3.amazonaws.com/conference_editions/8/images/13/image/repeating-sprite.png') 0 0 repeat-x;
    padding: 0 14px;
  }

  .startBtn:hover{ background-position: 0 -92px; }
  .startBtn:before { background-position: -28px 0; }
  .startBtn:after { background-position: -42px 0; }

  .splash{
    background-image: url(images/background.jpg);
    background-size: cover;
    height: 600px;
    text-align: center;
    padding-top: 150px;
    
  }

  .game{
    text-align: center;
  }